body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
   
}

div{
    background-color: white;
}

.pptbuttons{
    font-size: 18px;
}

#div1 {
    display: inline-block;
    flex-direction: row;
    align-items: center;
}

.borda1 {
	border-width: 0;
	border-bottom: 2px solid rgba(13, 12, 49, 0.726);
	width: 68%;
}

.rodape {
    text-align: end;
    text-transform: inherit;
    margin-right: 10px;
}

@media (max-width: 600px){
    html {
      width: 100%
    }
}